@{
  ViewData["Title"] = "Catalog";
  @model CatalogIndexViewModel
}

<div class="ui container center aligned" style="padding:40px;">
  <div class = "ui huge header"> Cameras </div>
</div>

<div class="ui container center aligned">
  <div class="ui center text container segment">
  <section class="catalog-filters">
    <div class = "ui equal width form">
      <form asp-action="Index" asp-controller="Catalog" method="post">
        <div class = "fields">
          <div class = "field">
            <label data-title="brand">
              <h3 class = "ui sub header left aligned"> Brand </h3>
              <select class = "ui search dropdown" asp-for="@Model.BrandFilterApplied" asp-items="@Model.Brands"></select>
            </label>
          </div>
          <div class = "field">
            <label data-title="type">
              <h3 class = "ui sub header left aligned"> Format </h3>
              <select class = "ui search dropdown" asp-for="@Model.TypesFilterApplied" asp-items="@Model.Types"></select>
            </label>
          </div>
          <button class="ui basic button" type="submit">Filter</button>
        </div>
      </form>
    </div>
  </section>
  </div>

  @if (Model.CatalogItems.Any())
  {
    <div id="products">
      <div class="ui grid" style="padding-top:20px">
        @foreach (var catalogItem in Model.CatalogItems)
        {
          <div class="sixteen wide mobile eight wide tablet four wide computer column">
            @Html.Partial("_product", catalogItem)
          </div>
        }
      </div>
      @Html.Partial("_pagination", Model.PaginationInfo)
    </div>
  }
  else
  {
  <p>Sorry cameras found.</p>
  }
</div>

<script>
  $(document).ready(function () {
    var button;

    $("#products").on("click","#product-item", addToCart);

    function addToCart (e) {
      button = $(e.target);
      var productId = button.attr("data-product-id");
      addToCartCall(productId);
    };

    function addToCartCall(productId) {
    var contentTypeAttribute = 'application/json';
    var dataAttribute = JSON.stringify({
      productId: productId
    });
      $.ajax({
         url: "/api/cart/",
         method: "POST",
         contentType: contentTypeAttribute,
         data: dataAttribute,
         success: function (data) {
          alert('item added');
          updateCartCall();
         },
         error: function(xhr, ajaxOptions, thrownError){
          alert('something went wrong')  
         },
      });
    }

    function updateCartCall(productId) {
    var contentTypeAttribute = 'application/json';
    var dataAttribute = JSON.stringify({});
      $.ajax({
         url: "/api/cartComponent/",
         method: "POST",
         contentType: contentTypeAttribute,
         success: function (data) {
          alert('cartComponentCalled');
          new Noty({
              text: 'Item Added To Cart'
          }).setTimeout(2000).show();
          $('.cartstatus-badge').html(data.itemsCount);
         },
         error: function(xhr, ajaxOptions, thrownError){
          alert('something went wrong')  
         },
      });
    }
});
</script>

