@model RolleiShop.Features.Basket.BasketViewModel
@{
    ViewData["Title"] = "Basket";
}

<div class="ui container center aligned" style="padding:40px;">
  <div class = "ui huge header"> Cart </div>
</div>

<div class="ui container">
  @if (Model.Items.Any())
  {
    <form method="post">

      <div class="ui  centered grid">
          <section class="four wide column"></section>
          <section class="three wide column">Product</section>
          <section class="two wide column">Price</section>
          <section class="three wide column">Quantity</section>
          <section class="two wide column">Cost</section>
      </div>
      <h4 class="ui divider"></h4>

        @for (int i=0; i< Model.Items.Count; i++)
        {
          var item = Model.Items[i];

          <div class="ui centered grid">
            <article class="row">
              <section class="four wide column"><img class="" src="@item.ImageUrl" /></section>
              <section class="three wide column">@item.ProductName</section>
              <section class="two wide column">$ @item.UnitPrice.ToString("N2")</section>
              <section class="three wide column">
                  <input type="hidden" name="@("Items[" + i + "].Key")" value="@item.Id" />
                  <div class = "ui fluid input">
                    <input type="number"  min="1" name="@("Items[" + i + "].Value")" value="@item.Quantity" />
                  </div>
              </section>
              <section class="two wide column">$ @Math.Round(item.Quantity * item.UnitPrice, 2).ToString("N2")</section>
            </article>
          </div>
        }


      <div class="ui grid">
        <div class="right floated eight wide mobile four wide tablet four wide computer column">
          <div class="ui right aligned basic segment">
            <span><b>TOTAL: $@Model.Total().ToString("N2")</b></span> 
            <article class="column">
            <br />

            <button class="ui basic button" name="updatebutton" value="" type="submit"
                    asp-action="">UPDATE</button>

            <input type="submit" asp-action="Checkout"
                   class="ui basic primary button"
                   value="CHECKOUT" name="action" />

            </article>
          </div>
        </div>
      </div>

    </form>
  }
  else
  {
  <p>Basket is empty.</p>
  }

</div>
