@model RolleiShop.Features.CatalogManager.Index.Result.PaginationInfoViewModel

<div class="ui container center aligned basic segment">
  <div class="ui text container" style="padding-bottom:10px">
    Showing @Model.ItemsPerPage of @Model.TotalItems products - Page @(Model.ActualPage + 1) - @Model.TotalPages
  </div>
  <div class="ui pagination menu">
    <a class="item @Model.Previous"
       id="Previous"
       asp-controller="CatalogManager"
       asp-action="Index"
       asp-route-page="@(Model.ActualPage - 1)"
       aria-label="Previous">
      Previous
    </a>	
    <a class="item @Model.Next"
       id="Next"
       asp-controller="CatalogManager"
       asp-action="Index"
       asp-route-page="@(Model.ActualPage + 1)"
       aria-label="Next">
      Next
    </a>
  </div>
</div>
