@model RolleiShop.Features.CatalogManager.Details.Model

<main class="ui text container">
  <img class="ui bordered medium image" alt="@Model.Name" src="@Model.ImageUrl">
  <div class = "ui huge header"> @Model.Name </div>
  <p>@Model.Description</p>
  <p>@Model.Price</p>
  <a asp-action="Index">Back to List</a> 
</main>
