@model RolleiShop.Features.CatalogManager.Index.Result
@{
  ViewData["Title"] = "Manage Catalog";
}

<main class="ui text container">
  <div class = "ui huge header"> Manage Cameras </div>
  <a asp-action="Create" class=" ui button">Add New Camera</a>

  <table class="ui striped celled table">
    <thead>
    <tr>
        <th>
            Name
        </th>
        <th>
            Brand
        </th>
        <th>
            Type
        </th>
        <th>
            Stock
        </th>
        <th>
            Price
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.CatalogItems)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BrandId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TypeId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AvailableStock)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
              <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
              <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
              <a asp-action="Delete" asp-route-id="@item.Id">Remove</a>
            </td>
        </tr>
    }
    </tbody>
  </table>
  @Html.Partial("_pagination", Model.PaginationInfo)
</main>
