@using System.Globalization
@using Microsoft.AspNetCore.Http.Features
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.AspNetCore.Identity
@using RolleiShop.Entities
@using RolleiShop.Identity
@inject IViewLocalizer Localizer
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Web</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.css" />
    <link rel="stylesheet" href="~/styles.css" />

    <script type="text/javascript" src="~/node-static.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script>
    $(document)
      .ready(function() {
        $('.ui.sidebar')
          .sidebar('attach events', '.toc.item');
        $('.ui.form')
          .form({
            fields: {
              email: {
                identifier  : 'email',
                rules: [
                  {
                    type   : 'empty',
                    prompt : 'Please enter your e-mail'
                  },
                  {
                    type   : 'email',
                    prompt : 'Please enter a valid e-mail'
                  }
                ]
              },
              password: {
                identifier  : 'password',
                rules: [
                  {
                    type   : 'empty',
                    prompt : 'Please enter your password'
                  },
                  {
                    type   : 'length[6]',
                    prompt : 'Your password must be at least 6 characters'
                  }
                ]
              }
            }
          })
        ;
      })
    ;
    </script>

  </head>
  <body class="site">
    <div class="ui vertical thin sidebar menu">
      <a asp-controller="Home" asp-action="Index" class="active header
        item">@Localizer["Home"]</a>
      <a asp-controller="Catalog" asp-action="Index"
        class="item">@Localizer["Cameras"]</a>
      <a asp-controller="Cart" asp-action="Index"
        class="item">@Localizer["Cart"]</a>
      @await Html.PartialAsync("_LoginPartial")
    </div>

    <div class="pusher">
      <div class ="ui container">
        <div class="ui large secondary menu">

          <a class="toc item">
            <i class="sidebar icon"></i>
          </a>

          <a asp-area="" asp-controller="Home" asp-action="Index" class="header item">
            <span style=" padding-right: 15px;">
              <img class="ui avatar image" src="~/images/logo.png" height="25">
            </span>
            @Localizer["Rollei Shop"]
          </a>

         <a asp-controller="Catalog" asp-action="Index"
           class="item">@Localizer["Cameras"]</a>

          <div class="right item">
            @await Html.PartialAsync("_LoginPartial")
            @await Component.InvokeAsync("Cart",  User.Identity.Name)
          </div>

          <a asp-area="" asp-controller="Home" asp-action="Index" class="logo header item">
            <span style=" padding-right: 15px;">
              <img class="ui avatar image" src="~/images/logo.png" height="25">
            </span>
            @Localizer["Rollei Shop"]
          </a>
        </div>
      </div>

      <main class="site-content">
        @RenderBody()
      </main>
      <footer class="ui-container">
        @await Html.PartialAsync("_SelectLanguagePartial")
      </footer>

    </div>

    <script type="text/javascript" src="~/main.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.js"></script>
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBCAN9EhXQ1kCSm1YrpMxVK0j6buc2MIlE"></script>

    @RenderSection("scripts", required: false)

  </body>
</html>
