@using RolleiShop.Features.Order
@model IEnumerable<OrderViewModel>
@{
    ViewData["Title"] = "My Order History";
}

<div class="ui container center aligned" style="padding:40px;">
  <div class = "ui huge header"> Order </div>
</div>

<div class="ui text container">
  @if (Model.Any())
  {
    <div class="ui centered grid">
        <div class="three wide column">Order number</div>
        <div class="five wide column">Date</div>
        <div class="two wide column">Total</div>
        <div class="three wide column">Status</div>
        <div class="three wide column"></div>
    </div>

    <div class="ui divider"></div>
    @if (Model != null && Model.Any())
    {
      @foreach (var item in Model)
      {
        <div class="ui centered grid">
          <div class="three wide column">@Html.DisplayFor(modelItem => item.OrderNumber)</div>
          <div class="five wide column">@Html.DisplayFor(modelItem => item.OrderDate)</div>
          <div class="two wide column">$ @Html.DisplayFor(modelItem => item.Total)</div>
          <div class="three wide column">@Html.DisplayFor(modelItem => item.Status)</div>
          <div class="three wide column">
            <a asp-controller="Order" asp-action="Detail" asp-route-orderId="@item.OrderNumber">Detail</a>
          </div>
        </div>
      }
    }
  }
  else
  {
  <p>No orders.</p>
  }
</div>
