@using Microsoft.Extensions.Options
@using RolleiShop.Infrastructure
@inject IOptions<StripeSettings> Stripe
@model RolleiShop.ViewModels.CartViewModel
@{
    ViewData["Title"] = "Cart";
}

<div class="ui container center aligned">
  <div class = "ui huge header"> Cart </div>
</div>

<div class="ui text container">
  @if (Model.Items.Any())
  {
    <form method="post">

      <div class="ui centered grid">
          <section class="four wide column"></section>
          <section class="three wide column">Product</section>
          <section class="two wide column">Price</section>
          <section class="three wide column">Quantity</section>
          <section class="two wide column">Cost</section>
          <section class="one wide column"></section>
      </div>
      <h4 class="ui divider"></h4>
        <div id="cart_items">
        @for (int i=0; i< Model.Items.Count; i++)
        {
          var item = Model.Items[i];
          <div class="ui centered grid">
            <article class="row">
              <section class="four wide column"><img class="" src="@item.ImageUrl" /></section>
              <section class="three wide column">@item.ProductName</section>
              <section class="two wide column">$ @item.UnitPrice.ToString("N2")</section>
              <section class="three wide column">
                  <input type="hidden" name="@("Items[" + i + "].Key")" value="@item.Id" />
                  <div class = "ui fluid input">
                    <input type="number"  min="1" name="@("Items[" + i + "].Value")" value="@item.Quantity" />
                  </div>
              </section>
              <section class="two wide column">$ @Math.Round(item.Quantity * item.UnitPrice, 2).ToString("N2")</section>
              <section class="one wide column">
                <button id="cart-item" data-catalog-item-id="@item.CatalogItemId" class="remove-from-cart
                  ui disabled basic button">Remove</button>
              </section>
            </article>
          </div>
        }
      </div>
      <div class="ui grid">
        <div class="right floated eight wide mobile four wide tablet four wide
          computer column">
          <div class="ui right aligned basic segment">
            <span><b>TOTAL: $@Model.Total().ToString("N2")</b></span> 
            <article class="column">
            <br />
            <div>
              <button class="ui basic button" name="clearcart" value="" type="submit" asp-action="ClearCart">CLEAR CART</button>
              <button class="ui basic button" name="updatebutton" value="" type="submit" asp-action="">UPDATE</button>
            </div>
            <div>
               <br />
              <input type="submit" asp-action="Checkout" class="ui basic primary button" value="CHECKOUT" name="action" />
            </div>
            </article>
          </div>
        </div>
      </div>
    </form>
      <div class="ui grid">
        <div class="right floated eight wide mobile four wide tablet four wide computer column">
          <div class="ui right aligned basic segment" 
            
            style="padding-top:0">
            <form asp-controller="Cart" 
              asp-action="Charge" 
              method="POST">
              <script src="//checkout.stripe.com/v2/checkout.js"
                      class="stripe-button"
                      data-key="@Stripe.Value.PublishableKey"
                      data-locale="auto"
                      data-description="Rollei Shop"
                      data-amount="@Model.StripeTotal()">
                      document.getElementsByClassName("stripe-button-el")[0].style.display = 'none';
              </script>
              <button type="submit" class="ui primary button"
              data-tooltip="Feel free to test credit card payments, otherwise
              just click checkout"
              data-position="left center"
                >
                PAY WITH CARD
              </button>
            </form>
          </div>
        </div>
      </div>
  }
  else
  {
  <p>Cart is empty.</p>
  }
</div>
@section scripts
{
<script>
  $(document).ready(function () {
    var button;

    $("#cart_items").on("click","#cart-item", removeFromCart);

    function removeFromCart (e) {
      button = $(e.target);
      var productId = button.attr("data-catalog-item-id");
      alert(productId)
      removeFromCartCall(productId);
    };

    function removeFromCartCall(productId) {
    var contentTypeAttribute = 'application/json';
    var dataAttribute = JSON.stringify({
      productId: productId
    });
      $.ajax({
         url: "/api/cart/",
         method: "DELETE",
         contentType: contentTypeAttribute,
         data: dataAttribute,
         success: function (data) {
          updateCartCall();
          alert('cool')  
         },
         error: function(xhr, ajaxOptions, thrownError){
          alert('something went wrong')  
         },
      });
    }

    function updateCartCall(productId) {
    var contentTypeAttribute = 'application/json';
    var dataAttribute = JSON.stringify({});
      $.ajax({
         url: "/api/cartComponent/",
         method: "POST",
         contentType: contentTypeAttribute,
         success: function (data) {
          new Noty({
              text: 'Item Added To Cart'
          }).setTimeout(2000).show();
          $('.cartstatus-badge').html(data.itemsCount);
          alert('whats good')  
         },
         error: function(xhr, ajaxOptions, thrownError){
          alert('something went wrong')  
         },
      });
    }
});
</script>
}
