@model RolleiShop.Features.Orders.Details.Model
@{
    ViewData["Title"] = "Order Detail";
}

<div class="ui text center aligned container">
  <div class = "ui huge header"> Order Detail </div>

    <div class="ui centered grid">
      <div class="row">
        <div class="four wide mobile three wide computer column">Orders number</div>
        <div class="four wide mobile three wide computer column">Date</div>
        <div class="four wide mobile three wide computer column">Total</div>
        <div class="four wide mobile three wide computer column">Status</div>
      </div>
      <div class="row">
        <div class="four wide mobile three wide computer column">@Model.OrderNumber</div>
        <div class="four wide mobile three wide computer
          column">@Model.OrderDate.ToString("MM/dd/yyyy")</div>
        <div class="four wide mobile three wide computer column">$@Model.Total.ToString("N2")</div>
        <div class="four wide mobile three wide computer column">@Model.Status</div>
      </div>
      <h4 class="ui horizontal divider header">DETAILS</h4>
      @for (int i = 0; i < Model.OrderItems.Count; i++)
      {
          var item = Model.OrderItems[i];
          <div class="row">
              <div class="three wide columnn">
                  <img class="ui image" src="@item.ImageUrl">
              </div>
              <div class="four wide mobile three wide computer column">@item.ProductName</div>
              <div class="four wide mobile three wide computer column">$@item.UnitPrice.ToString("N2")</div>
              <div class="four wide mobile three wide computer column">@item.Units</div>
              <div class="four wide mobile three wide computer column">
                $@Math.Round(item.Units * item.UnitPrice, 2).ToString("N2")
              </div>
          </div>
      }
    <br>
    <br>
      <div class="row">
        <div class="four wide mobile three wide computer column"></div>
        <div class="four wide mobile three wide computer column"></div>
        <div class="four wide mobile three wide computer column"></div>
        <div class="four wide mobile three wide computer column">
        <div class="ui basic segment"><span><b>TOTAL: $@Model.Total.ToString("N2")</b></span></div>
        </div>
      </div>
    </div>
</div>
